fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
httpx==0.28.1
youtube-transcript-api==0.6.2
readability-lxml==0.8.4.1
beautifulsoup4==4.13.4
groq==0.31.0
edge-tts==7.2.3
pypdf==5.9.0
python-docx==1.2.0
python-dotenv==1.1.1
feedparser==6.0.11
